.carousel-3d {
    perspective: 1000px; /* Define a profundidade da perspectiva */
    transform-style: preserve-3d; /* Mantém os elementos filhos em 3D */
  }
  
  .carousel-3d > div {
    transform: rotateY(-20deg); /* Inclina o carrossel para a esquerda */
    transform-origin: center; /* Define o ponto de origem da transformação */
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
  }
  .button-3d {
    perspective: 1000px; /* Define a profundidade da perspectiva */
    transform-style: preserve-3d; /* Mantém os elementos filhos em 3D */
  }
  
  .button-3d > button {
    transform: rotateY(-20deg); /* Inclina o botão para a esquerda */
    transform-origin: center; /* Define o ponto de origem da transformação */
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
  }
  .hero-container {
    background: linear-gradient(135deg, #5475c3be, #0445acb7); /* Fundo gradiente azul-escuro */
    color: white; /* Textos brancos para contraste */
    padding: 2rem;
    border-radius: 12px; /* Bordas arredondadas para suavidade */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
  }
  
  .hero-text {
    font-family: 'Arial', sans-serif; /* Fonte moderna e limpa */
    line-height: 1.6; /* Espaçamento entre linhas para melhor legibilidade */
  }
  
  .hero-title {
    font-size: 2rem; /* Título grande e impactante */
    font-weight: bold;
    color: #facc15; /* Amarelo para destacar o título */
    text-align: center;
  }
  
  .hero-subtitle {
    font-size: 1.2rem; /* Subtítulo menor */
    color: #cbd5e1; /* Cinza claro para contrastar com o fundo */
    text-align: center;
  }
  
  .hero-button {
    background-color: #facc15; /* Amarelo para chamar a atenção */
    color: #0f172a; /* Azul-escuro para contraste */
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #81C784; /* Amarelo mais escuro no hover */
    transform: scale(1.05); /* Efeito de crescimento ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  }
