/* styles.css */
.image-container {
    transition: transform 300ms ease;
  }
  
  .image-container:hover img {
    transform: rotate(-45deg) scale(1.8);
    animation: rotateY 2200ms infinite;
  }
  
/* styles.css */

/* Define a animação rotateY */
@keyframes rotateY {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  /* Estilo base para o container da imagem */
  .image-container img {
    transition: transform 300ms ease;
    transform: rotate(-45deg) scale(1.42); /* Estado inicial */
  }
  
  /* Aplica a animação no hover */
  .image-container:hover img {
    animation: rotateY 1200ms infinite; /* Animação infinita com duração de 1200ms */
  }